    
    :root {
        --clr-white: #ffffff;
        --clr-dark: #222222;
        --clr-pink: #53d3e4;
        --clr-red: #ff5733;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
            }

    * {
        margin: 0;
        padding: 0;
    }

@media (max-width: 200px) {
  .buttons {
    width: 100%;
    align-items: stretch;
  }
}



    body {
        background-color: var(--clr-white);
        font-size: 20px;
        font-family: sans-serif;
    }

    .table {
        border-collapse: collapse;
        width: 90%;
        max-width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .table th,
    .table td {
        border: 1px solid var(--clr-dark);
        padding: 5px;
    }

    .table thead {
        background-color: var(--clr-pink);
    }

    .table tbody tr:hover {
        background-color: rgba(255, 255, 0, 0.3);
    }



    .pictures img {
        display: block;
        border: 1px dotted var(--clr-pink);
        margin: 32px 32px;
        padding: 2px;
        width: 80%;
        max-width: 100%;
    }

    .pictures:hover {
    border: 2px solid var(--clr-dark);
    background-color: var(--clr-pink);
    }

    .download {
        margin: 20px;
        padding: 20px;
        color: var(--clr-white);
        background-color: var(--clr-dark);
        border: 2px solid var(--clr-pink);
        border-radius: 10px;
        text-align: right;
        font-style: oblique;
        animation: download 20s ease-in-out infinite alternate;
    }

    .download:hover, .download:active{
        cursor: pointer;
        animation-play-state: paused;

    }

 @keyframes download {
   from {
    transform: translateX(90%);
    opacity: 0;
       }
  to {
    transform: translateY(50px);
    opacity: 1;
    overflow: hidden;
     }
    }


    /* Navigation bar */
    .navigation {
        position: relative;
        background-color: var(--clr-pink);
        padding: 10px;
        text-align: right; /* dots on the right */
    }

    /* Three-dot icon */
    .menu-dot {
        font-size: 24px;
        cursor: pointer;
        color: var(--clr-white);
    }

    /* Dropdown menu - hidden by default */
    .menu {
        list-style: none;
        position: absolute;
        top: 33px; /* below the dots */
        right: 10px;
        background-color: var(--clr-dark);
        border-radius: 16px;
        display: none; /* hidden initially */
        min-width: 50px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        text-align: center;
        font-weight: 900;
    }

    /* Menu items */
    .menu li a {
        display: block;
        padding: 8px;
        color: var(--clr-white);
    }

    .menu li a:hover {
        background-color: var(--clr-red);
        color: var(--clr-dark);
    }

    /* Buttons */
    
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }
    

    .janmoscov {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: var(--clr-red);
        color: var(--clr-white);
    }

    footer .social-icons {
        margin-bottom: 10px;
        
    }

    footer .social-icons a {
        color: var(--clr-white);
        margin: 0 10px;
        font-size: 24px;
        transition: color 0.3s;
    }

    footer .social-icons a:hover {
        color: var(--clr-dark);
    }

    footer p {
        font-size: 14px;
        color: var(--clr-white);
    }
